<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Declaracion</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/declaracion/registrar}" method="post" th:object="${declaracion}">
				<div class="form-group">
				<label for="iddeclaracion">ID:</label>
					<input type="text" class="form-control" th:field="*{idDeclaracion}"></input>
					
					<div class="form-group">
						<label for="juramento">Juramento:</label>
						<input type="text" class="form-control" th:field="*{juramento}" id="juramento"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('juramento')}" 
							th:errors="*{juramento}">						
						</div>
						
						<label for="fechaDeclaracion">FECHA :</label>
						<input type="date" class="form-control" th:field="*{fechaDeclaracion}" id="fechaDeclaracion"></input>
					
						<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaDeclaracion')}" 
							th:errors="*{fechaDeclaracion}">
						</div>		
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/declaracion/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>