<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Guia</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/guia/registrar}" method="post" th:object="${guia}">
				<div class="form-group">
					<label for="idguia">ID:</label>
					<input type="text" class="form-control" th:field="*{idGuia}"></input>
					
					<div class="form-group">
						<label for="nombreguia">Nombre:</label>
						<input type="text" class="form-control" th:field="*{nombreGuia}" id="nombreguia"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreGuia')}" 
							th:errors="*{nombreGuia}">						
						</div>
						
						<label for="apellido">Apellidos:</label>
						<input type="text" class="form-control" th:field="*{apellidoGuia}" id="apellido"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('apellidoGuia')}" 
							th:errors="*{apellidoGuia}">						
						</div>
						
						
						<label for="dni">DNI:</label>
						<input type="text" class="form-control" th:field="*{dniGuia}" id="dni"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('dniGuia')}" 
							th:errors="*{dniGuia}">						
						</div>
						
						<label for="celular">Celular:</label>
						<input type="text" class="form-control" th:field="*{celularGuia}" id="celular"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('celularGuia')}" 
							th:errors="*{celularGuia}">						
						</div>
						
						<label for="email">Email:</label>
						<input type="text" class="form-control" th:field="*{emailGuia}" id="email"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('emailGuia')}" 
							th:errors="*{emailGuia}">						
						</div>
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/guia/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		
	</body>
	
</html>