<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Reservas</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<a 	style="border-bottom-color: black" th:href="@{/reserva/irRegistrar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-plus"></span> Reservar
						</a>
						
						<a 	style="border-bottom-color: black" th:href="@{/reserva/irBuscar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-search"></span> Buscar
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">NOMBRE</th>
									<th class="text-center">NUMERO DE PARTICIPANTES</th>
									<th class="text-center">FECHA</th>
									<th class="text-center">TURISTA</th>
									<th class="text-center">PAQUETE</th>
									<th class="text-center">MONTO TOTAL</th>
									<th class="text-center">CUPOS DISPONIBLES</th>
									<th class="text-center">OPERACIÓN</th>
									<th class="text-center">OPERACIÓN</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="r: ${listaReservas}">
									<td th:text="${r.idReserva}"></td>
									<td th:text="${r.nombreReserva}"></td>
									<td th:text="${r.numParticipantes}"></td>
									<td th:text="${#dates.format(r.fechaReserva, 'dd/MM/yyyy')}"></td>
									<td th:text="${r.turista.nombreTurista}"></td>
									<td th:text="${r.paquete.nombrePaquete}"></td>
									<td th:text="${r.numParticipantes*r.paquete.precioPaquete}"></td>
									<td th:text="${r.paquete.numCupos-r.numParticipantes}"></td>					
									<td class="text-center"><a class="glyphicon glyphicon-trash" th:href="@{/reserva/eliminar?id=}+${r.idReserva}"> Eliminar</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" th:href="@{'/reserva/modificar/' + ${r.idReserva}}"> Modificar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>