<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Turista</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		
		
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						
						
						<table class="table table-bordered table-hover table-striped mt-5" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">NOMBRE</th>
									<th class="text-center">FECHA</th>
									<th class="text-center">PRECIO</th>
									<th class="text-center">CUPOS</th>
									<th class="text-center">LUGAR DE ORIGEN</th>
									<th class="text-center">LUGAR DE DESTINO</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="paq: ${listaPaquetes}">
									<td th:text="${paq.idPaquete}"></td>
									<td th:text="${paq.nombrePaquete}"></td>
									<td th:text="${#dates.format(paq.fechaPaquete, 'dd/MM/yyyy')}"></td>
									<td th:text="${paq.precioPaquete}"></td>
									<td th:text="${paq.numCupos}"></td>
									<td th:text="${paq.lugarOrigen}"></td>
									<td th:text="${paq.lugarDestino}"></td>
									<td class="text-center"><a class="glyphicon glyphicon-trash" th:href="@{/paquete/eliminar?id=}+${paq.idPaquete}"> Eliminar</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" th:href="@{'/paquete/modificar/' + ${paq.idPaquete}}"> Modificar</a></td>
								</tr>
							</tbody>
						</table>
						<a 	style="border-bottom-color: black" th:href="@{/paquete/irRegistrar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-plus"></span>Paquete
						</a>
						
						<a 	style="border-bottom-color: black" th:href="@{/paquete/irBuscar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-search"></span> Buscar
						</a>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		
	</body>
	
</html>