<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Turistas</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form id="myform">
				<div class="row clearfix">
					<div class="col-md-12 column">
						<a 	style="border-bottom-color: black" th:href="@{/turista/irRegistrar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-plus"></span> Turista
						</a>
						
						<a 	style="border-bottom-color: black" th:href="@{/turista/irBuscar}" id="add-row"
						   	type = "button"
						   	class= "btn btn-primary btn-md left-block">
							<span class="glyphicon glyphicon-search"></span> Buscar
						</a>
						
						<table class="table table-bordered table-hover table-striped" id="tab_logic">
							<thead>
								<tr>
									<th class="text-center">ID</th>
									<th class="text-center">NOMBRE</th>
									<th class="text-center">APELLIDOS</th>
									<th class="text-center">DNI</th>
									<th class="text-center">DIRECCION</th>
									<th class="text-center">CELULAR</th>
									<th class="text-center">EMAIL</th>
									<th class="text-center">OPERACION</th>
									<th class="text-center">OPERACION</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="tu: ${listaTuristas}">
									<td th:text="${tu.idTurista}"></td>
									<td th:text="${tu.nombreTurista}"></td>
									<td th:text="${tu.apellidoTurista}"></td>
									<td th:text="${tu.dniTurista}"></td>
									<td th:text="${tu.direccionTurista}"></td>
									<td th:text="${tu.celularTurista}"></td>
									<td th:text="${tu.emailTurista}"></td>
									<td class="text-center"><a class="glyphicon glyphicon-trash" th:href="@{/turista/eliminar?id=}+${tu.idTurista}"> Eliminar</a></td>
									<td class="text-center"><a class="glyphicon glyphicon-pencil" th:href="@{'/turista/modificar/' + ${tu.idTurista}}"> Modificar</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div th:if="${mensaje}" class="alert alert-danger">
					<p th:text="${mensaje}"></p>
				</div>
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>