<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Paquete</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/paquete/registrar}" method="post" th:object="${paquete}">
				<div class="form-group">
					<label for="idpaquete">ID:</label>
					<input type="text" class="form-control" th:field="*{idPaquete}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" class="form-control" th:field="*{nombrePaquete}" id="nombre"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombrePaquete')}" 
							th:errors="*{nombrePaquete}">						
						</div>
						
						<label for="fechapaquete">FECHA :</label>
						<input type="date" class="form-control" th:field="*{fechaPaquete}" id="fechapaquete"></input>
					
						<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaPaquete')}" 
							th:errors="*{fechaPaquete}">
						</div>		
						
						<label for="precio">Precio:</label>
						<input type="text" class="form-control" th:field="*{precioPaquete}" id="precio"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('precioPaquete')}" 
							th:errors="*{precioPaquete}">						
						</div>
						
						<label for="cupos">Cupos:</label>
						<input type="text" class="form-control" th:field="*{numCupos}" id="cupos"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('numCupos')}" 
							th:errors="*{numCupos}">						
						</div>
						
						<label for="lugarorigen">Lugar de Origen:</label>
						<input type="text" class="form-control" th:field="*{lugarOrigen}" id="lugarorigen"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('lugarOrigen')}" 
							th:errors="*{lugarOrigen}">						
						</div>
						
						<label for="lugardestino">Lugar de Destino:</label>
						<input type="text" class="form-control" th:field="*{lugarDestino}" id="lugardestino"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('lugarDestino')}" 
							th:errors="*{lugarDestino}">						
						</div>
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/paquete/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
					<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		
	</body>
	
</html>