<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Proveedor</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/proveedor/registrar}" method="post" th:object="${proveedor}">
				<div class="form-group">
					<label for="idproveedor">ID:</label>
					<input type="text" class="form-control" th:field="*{idProveedor}"></input>
					
					<div class="form-group">
						<label for="nombre">Nombre:</label>
						<input type="text" class="form-control" th:field="*{nombreProveedor}" id="nombre" maxlength="30"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreProveedor')}" 
							th:errors="*{nombreProveedor}">						
						</div>
						
						<label for="apellido">Apellidos:</label>
						<input type="text" class="form-control" th:field="*{apellidoProveedor}" id="apellido" maxlength="30"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('apellidoProveedor')}" 
							th:errors="*{apellidoProveedor}">						
						</div>
						
						<label for="ruc">RUC:</label>
						<input type="text" class="form-control" th:field="*{rucProveedor}" id="ruc" maxlength="11"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('rucProveedor')}" 
							th:errors="*{rucProveedor}">						
						</div>
						
						<label for="telefono">Telefono</label>
						<input type="text" class="form-control" th:field="*{telefonoProveedor}" id="telefono" maxlength="9"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('telefonoProveedor')}" 
							th:errors="*{telefonoProveedor}">						
						</div>
						
					</div>
				
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/proveedor/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>