<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Mascota</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/pet/registrar}" method="post" th:object="${pet}">
				<div class="form-group">
					<label for="idpet">ID:</label>
					<input type="text" class="form-control" th:field="*{idPet}"></input>
					
				<div class="form-group">
					<label for="nombre">NOMBRE::</label>
					<input type="text" class="form-control" th:field="*{namePet}" id="namePet"></input>
					
					<div class="alert alert-danger" th:if="${#fields.hasErrors('namePet')}" 
							th:errors="*{namePet}">						
					</div>
					
					<label for="fechaNacimiento">FECHA NACIMIENTO:</label>
					<input type="date" class="form-control" th:field="*{birthDatePet}" id="fechaNacimiento"></input>
					
					<div class="alert alert-danger" th:if="${#fields.hasErrors('birthDatePet')}" 
							th:errors="*{birthDatePet}">						
					</div>
						
					<label for="raza" class= "col-sm-2 col-form-label">Raza:</label>
					<select class="form-control" th:field="*{race.idRace}"> 
						<option th:each= "r:${listaRazas}" th:value="${r.idRace}"
							 	th:text="${r.nameRace}"
							 	th:selected="(${r.idRace} == *{race.idRace})">
						</option>
					</select>	
					
					<label for="dueno" class= "col-sm-2 col-form-label">Propietario:</label>
					<select class="form-control" th:field="*{dueno.idDueno}"> 
						<option th:each= "d:${listaDuenos}" th:value="${d.idDueno}"
							 	th:text="${d.nameDueno}"
							 	th:selected="(${d.idDueno} == *{dueno.idDueno})">
						</option>
					</select>	
						
				</div>
		
			</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/pet/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>