<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Reserva</title>
		
		<script type="text/javascript"
				src="ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">
		</script>
		
		<link
			href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
			rel="stylesheet" id="bootstrap-css">
		</link>
		
		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>
		
		<script src="code.jquery.com/jquery-3.2.1.min.js"></script>
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container">
			<form th:action="@{/reserva/registrar}" method="post" th:object="${reserva}">
				<div class="form-group">
					<label for="idreserva">ID:</label>
					<input type="text" class="form-control" th:field="*{idReserva}"></input>
					
				<div class="form-group">
					<label for="nombre">NOMBRE::</label>
					<input type="text" class="form-control" th:field="*{nombreReserva}" id="nombreReserva" maxlength="30"></input>
					
					<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreReserva')}" 
							th:errors="*{nombreReserva}">						
					</div>
					
					<label for="numeroparticipantes">Numero de Participantes:</label>
					<input type="text" class="form-control" th:field="*{numParticipantes}" id="numeroparticipantes" maxlength="2"></input>
					
					<div class="alert alert-danger" th:if="${#fields.hasErrors('numParticipantes')}" 
							th:errors="*{numParticipantes}">						
					</div>
						
					<label for="fechaReserva">FECHA :</label>
					<input type="date" class="form-control" th:field="*{fechaReserva}" id="fechaReserva"></input>
					
					<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaReserva')}" 
							th:errors="*{fechaReserva}">
					</div>		
									
					<label for="turista" class= "col-sm-2 col-form-label">Turista:</label>
					<select class="form-control" th:field="*{turista.idTurista}"> 
						<option th:each= "t:${listaTuristas}" th:value="${t.idTurista}"
								th:text="${t.nombreTurista}"
							 	th:selected="(${t.idTurista} == *{turista.idTurista})">
						</option>
					</select>	
					
					<label for="paquete" class= "col-sm-2 col-form-label">Paquete:</label>
					<select class="form-control" th:field="*{paquete.idPaquete}"> 
						<option th:each= "p:${listaPaquetes}" th:value="${p.idPaquete}"
								th:text="${p.nombrePaquete}"
							 	th:selected="(${p.idPaquete} == *{paquete.idPaquete})">
						</option>
					</select>	
						
				</div>
		
			</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/reserva/listar" class="btn btn-danger">Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
	</body>
	
</html>