<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="UTF-8"></meta>
		<title>Turista</title>
		

		
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		
		
	</head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
		
		<div class="container-sm " style='width: 450px; margin-top:25px; background-color: #13293E; padding: 15px; border-radius: 8px;'>
			<form th:action="@{/turista/registrar}" method="post" th:object="${turista}" action="">
				<div class="form-group">
					<label for="idturista" style='color:white;'>ID:</label>
					<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{idTurista}"></input>
					
					<div class="form-group">
						<label for="nombre" style='color:white;'>Nombre:</label>
						<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{nombreTurista}" id="nombre" ></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreTurista')}" 
							th:errors="*{nombreTurista}">						
						</div>
						
						<label for="apellido" style='color:white;'>Apellidos:</label>
						<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{apellidoTurista}" id="apellido"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('apellidoTurista')}" 
							th:errors="*{apellidoTurista}">						
						</div>
						
					
						<label for="celular" style='color:white;'>Celular:</label>
						<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{celularTurista}" id="celular"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('celularTurista')}" 
							th:errors="*{celularTurista}">						
						</div>
						
						<label for="direccion" style='color:white;'>Direccion:</label>
						<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{direccionTurista}" id="direccion"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('direccionTurista')}" 
							th:errors="*{direccionTurista}">						
						</div>
						
						<label for="dni" style='color:white;'>DNI:</label>
						<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{dniTurista}" id="dni"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('dniTurista')}" 
							th:errors="*{dniTurista}">						
						</div>
						
						<label for="email" style='color:white;'>Email:</label>
						<input style='margin-bottom:20px;' type="text" class="form-control" th:field="*{emailTurista}" id="email"></input>
						
						<div class="alert alert-danger" th:if="${#fields.hasErrors('emailTurista')}" 
							th:errors="*{emailTurista}">						
						</div>
					
				</div>
				</div>
				
				<button type="submit" class="btn btn-primary" style='margin-top:25px'>Aceptar</button>
				<a href="/turista/listar" class="btn btn-danger" style='margin-top:25px'>Cancelar</a>
				
			</form>
		</div>
		
		<div th:replace="fragments/footer :: footer"></div>
		
		    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		
	</body>
	
</html>